<div class="form-group row">
    <% if(view.attr('field.amount')) { %>
    <div class="col-xs-12">
        <div class="input-group input-group-lg">
            <input type="number" min="1" control="ui.field.amount" step="0.01" name="amount" data-valid="amount"
                   data-fee="<%= params.attr('fee') %>"
                   x-value="amount" value="<%= params.attr('amount') %>" required class="form-control"
                   placeholder="<%=_('Pay amount')%>">
            <span class="input-group-addon"><%= _(params.attr('currency')) %></span>
        </div>
    </div>
    <% } else { %>
    <input type="hidden" name="amount" value="<%= params.attr('amount') %>">
    <input type="hidden" name="currency" value="<%= params.attr('currency') %>">
    <div class="col-xs-6 text-muted">
        <%=_('Order amount')%>:
    </div>
    <div class="col-xs-6 text-bold text-right">
        <span x-text="amount" data-fee="<%= params.attr('fee') %>" control="ui.field.amount"><%= params.attr('amount') %></span>
        <sup><%= _( params.attr('currency') ) %></sup>
    </div>
    <% } %>
    <div class="col-xs-6 small text-muted mt-5">
        <%=_('Commision')%>: <span x-text="fee"><%= params.attr('fee') %></span>
    </div>
    <div class="col-xs-6 small text-right mt-5">
        <%=_('Total amount')%>:
        <span x-text="total_amount"></span>
        <sup><%= _( params.attr('currency') ) %></sup>
    </div>
</div>