<div class="checkout-header">
    <div class="checkout-logo">
        <div class="border">
            <img src="<%= view.alt('header.logo',view.cdn('dist/img/logo-icon.svg')) %>">
        </div>
    </div>
    <div class="checkout-header-right">
        <% if(view.attr('product')) { %>
        <a href="javascript:void(0)"
           control="ui.toggle.group"
           data-class="hidden"
           data-target="[data-product-info]"
           data-placement="top" class="btn btn-option">
            <i class="fa fa-shopping-basket"></i>
        </a>
        <% } %>
        <a href="javascript:void(0)" class="btn btn-option">
            <i class="fa fa-remove"></i>
        </a>
    </div>
    <div class="checkout-header-left">
        <% if(view.attr('lang')) { %>
        <div class="dropdown inline-block">
        <a href="javascript:void(0)" class="btn btn-option" data-toggle="dropdown">
            <i class="fa fa-language"></i>
        </a>
        <ul class="dropdown-menu">
            <% view.each('lang',function(item,value){ %>
                <li>
                    <a href="#<%=value%>" data-action="lang:<%=value%>">
                        <i class="flag-icon flag-icon-<%=value%>"></i>
                        <%= _(value) %>
                    </a>
                </li>
            <% }) %>
        </ul>
        </div>
        <% } %>
    </div>
    <h1 class="checkout-title"><%= view.alt('header.title', document.title) %></h1>
    <h2 class="checkout-descr"><%= view.alt('header.desc', 'Your short order description') %></h2>
    <p class="checkout-link">
        <a target="_blank" href="<%= view.alt('header.url', location.origin) %>">
            <i class="fa fa-shopping-cart"></i> <%= view.alt('header.url', location.origin) %>
        </a>
    </p>
</div>