<div class="form-group-menu form-group-mm hidden" data-payment-methods
     control="ui.toggle.list" data-self="selected" data-class="active">

    <div class="form-group row">
        <div class="col-xs-12 text-bold text-uppercase text-center text-muted">
            <%=_('Choose Payment Method')%>
        </div>
    </div>

    <div class="form-group row has-feedback-left search hidden">
        <div class="col-xs-12">
            <div class="relative">
                <input type="search" placeholder="<%=_('Find Payment Methods')%>" class="form-control input-lg" />
                <i class="form-control-feedback fa fa-search"></i>
            </div>
        </div>
    </div>
    <div class="row">
    <% view.methods().each(function(item){ %>
        <div class="col-xs-4">
            <a href="#" data-action="widget:<%=item.attr('widget')%>"
               data-type="<%=item.attr('type')%>" class="payment-button">
                <div class="border-wrapper">
                    <img src="<%=item.icon(64)%>" />
                    <span><%=item.attr('name')%></span>
                </div>
            </a>
        </div>
    <% }) %>
    </div>
    <div class="form-group-shadow"></div>
    <div class="form-group form-group-button row">
        <div class="button-group">
            <div class="col-xs-3">
                <a href="#" data-action="menu:hide" class="btn btn-lg btn-block btn-default">
                    <i class="fa fa-arrow-left"></i>
                </a>
            </div>
        </div>
    </div>
</div>